<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<div layout:fragment="contenido">
		<div class="container">
			<div class="page-header">
				<h1>Ejemplo de inclusión de fragmentos</h1>
			</div>
			<p class="lead">En este ejemplo hacemos uso del dialecto estándar
				de Thymeleaf para construir una página a través de la inclusión de
				fragmentos definidos en otras páginas.</p>
		</div>
	</div>
</body>
</html>